<% include template/header-admin %>

<div class="right-bar">
    <div class="dashboard">
        <div class="box box-user">
            <div class="header ">
                <h3 class="d-inline"><b>Tambah Kelas</b></h3>
            </div>

            <% if (msg != "") { %>
            <div class="alert alert-danger" role="alert">
                <b><%= msg %></b>
            </div>
            <% }%>
            <div class="form-add-kelas">
                <form action="/admin/inputKelas" method="POST">
                    <div class="form-group">
                        <label for=""><b>Kelas : </b></label>
                        <input type="text" class="form-control" name="kelas" placeholder="Kelas" required>
                    </div>
                    <div class="mt-3 text-center">
                        <button type="submit" class="btn btn-md btn-success"><b>Tambah</b></button>
                        <a href="/admin/kelas" class="btn btn-md btn-danger"><b>Kembali</b></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="text-center fixed-bottom">
    <P>Copyright 2019</P>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        if ($(window).width() < 600) {
            $('nav').removeClass('fixed-top');
        }
    });
</script>
</html>