<% include template/header-admin %>

<div class="right-bar">
    <div class="dashboard">
        <div id="admin" class="box box-user">
            <div class="header">
                <canvas id="chart-suara">

                </canvas>
                <!-- Sum of all Suara -->
                <% var total = 0; %>
                <% JSON.parse(dataS).forEach(function(suar){ %>
                <% total = total + suar; %>
                <% }); %>

                <div class="text-center">
                    <h5>Total suara : <%= total %></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="text-center fixed-bottom" style="z-index: -1;">
    <P>Copyright 2019</P>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {
        if ($(window).width() < 600) {
            $('nav').removeClass('fixed-top');
        }
    });

    let chart = document.getElementById('chart-suara').getContext('2d');
    chart.canvas.parentNode.style.width = '100%'

    // get data
    let kandidat = JSON.parse('<%- dataK %>'),
        suara = JSON.parse('<%- dataS %>');

    // Make Color Generator
    var coloR = [];
    var dynamicColors = function () {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };
    for (var i in kandidat) {
        coloR.push(dynamicColors());
    }

    // The Chart
    var myChart = new Chart(chart, {
        type: 'pie',
        data: {
            labels: kandidat,
            datasets: [{
                label: 'Live Vote',
                data: suara,
                backgroundColor: coloR,
                borderColor: [
                    "#111"
                ],
                borderWidth: 1
            }]
        },
        options: {}
    });  
</script>

</html>