<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/vote-style.css">
    <link rel="stylesheet" href="/css/animate.css">
</head>

<body class="container-fluid">

    <div class="title text-center">
        <h2>DAFTAR KANDIDAT</h2>
    </div>



    <div class="jumbotron">
        <div class="list-kandidat d-flex justify-content-center">
            <% list.forEach(function(list){ %>
            <% if(list.deleteStatus != true){ %>
            <div class="card animated fadeInDownBig" style="width: 20rem;">
                <img src="../<%= list.kandidatImg %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center"><%= list.nama %></h5>
                </div>
                <div class="button-card card-footer d-flex">
                    <% if(status == false) {%>
                    <a href="/users/pilih/<%= list._id %>" class="btn btn-success">Piih</a>
                    <% } %>
                    <a href="/users/visimisi/<%= list._id %>" class="btn btn-warning">Detail</a>
                </div>
            </div>
            <% } %>
            <% }); %>
        </div>
        <div id="home" class="text-center mt-3">
            <a href="/users/dashboard" class="btn btn-dark" style="width: 30vw">Home</a>
        </div>
    </div>

    

    <div id="footer" class="text-center">
        <P>Copyright 2019</P>
    </div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>